@import "tailwindcss";


:root {
  --radius: 14px;
}


.input {
  @apply w-full rounded-[var(--radius)]
  border border-gray-300
  px-4 py-3
  text-sm
  focus:outline-none
  focus:ring-2
  focus:ring-black;
}

.btn {
  @apply inline-flex items-center justify-center
  rounded-[var(--radius)]
  px-4 py-3
  text-sm font-semibold
  transition-all;
}

.btn-primary {
  @apply bg-black text-white hover:bg-gray-800;
}

.card {
  @apply bg-white rounded-2xl shadow-lg p-8;
}
